<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}AVA website{% endblock %}</title>
    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset("mdi/css/materialdesignicons.min.css", "vendors") }}">
        <link rel="stylesheet" href="{{ asset("css/vendor.bundle.base.css", "vendors") }}">
        <link rel="stylesheet" href="{{ asset("jvectormap/jquery-jvectormap.css", "vendors") }}">
        <link rel="stylesheet" href="{{ asset("flag-icon-css/css/flag-icon.min.css", "vendors") }}">
        <link rel="stylesheet" href="{{ asset("owl-carousel-2/owl.carousel.min.css", "vendors") }}">
        <link rel="stylesheet" href="{{ asset("owl-carousel-2/owl.theme.default.min.css", "vendors") }}">

        <link rel="stylesheet" href="{{ asset("style.css", "css") }}">
        <link rel="stylesheet" href="{{ asset("favicon.png", "images") }}">

        {{ encore_entry_link_tags('app') }}

    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
{% block head_javascripts %}

    <script src="{{ asset("js/vendor.bundle.base.js", "vendors") }}"></script>
    <script src="{{ asset("chart.js/Chart.min.js", "vendors") }}"></script>
    <script src="{{ asset("progressbar.js/progressbar.min.js", "vendors") }}"></script>
    <script src="{{ asset("jvectormap/jquery-jvectormap.min.js", "vendors") }}"></script>
    <script src="{{ asset("jvectormap/jquery-jvectormap.min.js", "vendors") }}"></script>
    <script src="{{ asset("owl-carousel-2/owl.carousel.min.js", "vendors") }}"></script>
    <script src="{{ asset("off-canvas.js", "js") }}"></script>
    <script src="{{ asset("hoverable-collapse.js", "js") }}"></script>
    <script src="{{ asset("misc.js", "js") }}"></script>
    <script src="{{ asset("settings.js", "js") }}"></script>
    <script src="{{ asset("todolist.js", "js") }}"></script>
    <script src="{{ asset("dashboard.js", "js") }}"></script>
    <script src="{{ asset("chart.js", "js") }}"></script>

    {{ encore_entry_script_tags('app') }}
{#    <script src="http://localhost:8097"></script>#}



{% endblock %}
</body>
</html>
